# Frontend
frontend/node_modules
frontend/dist
frontend/dist-ssr

# Backend
backend/.venv
__pycache__/
*.pyc

# Shared
.env
*.log
*.local
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
